@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
    font-weight: 250;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Kanit';
    src: url('assets/fonts/kanit/Kanit-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-family: 'Kanit';
    color: #333;
    -webkit-font-smoothing: antialiased;
}
.super-topic {
    font-size: 350%;
}
.main-topic {
    font-size: 320%;
}
.ele-title {
    font-size: 3rem;
    color: purple;
    cursor: pointer;
}
.ele-prop-title {
    font-size: 200%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.ele-prop-title.through {
      color: grey;
      text-decoration: line-through;
}
.ele-prop-title:hover {
    color: #ffae00;
}